<section class="page-notice">
    <header ng-if="showHeader" class="page-header">
        <div class="header-wrap">
            <h3>公告</h3>
            <a href="#index" class="nav-left">
                <i class="icon-back"></i>
            </a>
        </div>
    </header>
    <div class="">
        <img src="/app/images/banner/banner22.png" alt="">
        <div class="notice-content">
            <p>各位投资者：</p>
            <p>
                由于过年期间（2018.2.15-2018.2.21）本平台无人值班，在此期间充值正常进行，提现需要等到节后2018.2.22陆续处理。 <br>
                为此给您带来的不便请谅解，如有其他问题可拨打15575990597咨询。 <br>
                值此新春佳节来临之际，本平台祝各位投资者：新年快乐，财源广进！
            </p>
        </div>
    </div>
</section>