<section class="page-activity">
    <div class="page-year">
        <header ng-if="showHeader" class="page-header">
            <div class="header-wrap">
                <h3>活动详情</h3>
                <a href="#index" class="nav-left">
                    <i class="icon-back"></i>
                </a>
            </div>
        </header>
        <img class="year-header" src="/app/images/banner/banner21.png" alt="">
        <div class="year-body">
            <div class="year-content">
                <p>新年活动期间，用户每完成1手交易即可得到定额的红包奖励。</p>
                <p>详情见表格:</p>
                <table class="activity-content">
                    <tr>
                        <td>美原油</td>
                        <td>每手奖励10元</td>
                    </tr>
                    <tr>
                        <td>美黄金</td>
                        <td>每手奖励10元</td>
                    </tr>
                    <tr>
                        <td>美白银</td>
                        <td>每手奖励10元</td>
                    </tr>
                    <tr>
                        <td>恒指</td>
                        <td>每手奖励10元</td>
                    </tr>
                    <tr>
                        <td>德指</td>
                        <td>每手奖励10元</td>
                    </tr>
                    <tr>
                        <td>富时A50</td>
                        <td>每2手奖励10元</td>
                    </tr>
                    <tr>
                        <td>小恒指</td>
                        <td>每3手奖励10元</td>
                    </tr>
                </table>
                <p>活动规则</p>
                <p>1.活动时间： 2018年2月1日0点至2018年2月28日24点。</p>
                <p>2.活动期间，用户每手实盘交易均可获得红包奖励。</p>
                <p>3.活动结束后，平台统计用户奖励总金额后在5个工作日内以红包的形式发放，红包仅能用于抵扣“交易综合费”。</p>
                <p>4.本活动最终解释权归本平台所有。</p>
            </div>
        </div>
    </div>
</section>